h1 {
  font-family: "Readex Pro", sans-serif;
  font-size: 35px;
}
pre {
  font-family: "Readex Pro", sans-serif;
  font-size: 14px;
}
.myButton {
  background-color: #d6d6d6;
  border-radius: 28px;
  border: 1px solid #d6d6d6;
  cursor: pointer;
  color: #696969;
  font-size: 17px;
  text-align: center;
  width: 320px;
  padding: 8px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #d6d6d6;
}
.myButton:hover {
  background-color: #d6d6d6;
}
.myButton:active {
  position: relative;
  top: 1px;
}
.header_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  padding: 2px 10px;
}
